body{
    background-color: rgb(208, 218, 226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #272044;
    text-align: center;

}
a{
    color: blue;
}
.container{
    margin: 120px auto;
    max-width: 600px;

}
header{
    margin-bottom: 30px;
}
form{
    padding: 25px;
    border-radius: 10px;
    background-color: antiquewhite;
    display: flex;
    box-shadow: 0px 4px 30px 0px rgb(65, 50, 100);
    margin-bottom: 40px;
}
.search{
    padding: 14px;
    border: solid;
    border-radius: 15px;
    width: 80%;
    line-height: 20px;
    color: #272044;
    font-size: 16px;
    
}
.enter{
    padding: 14px 24px;
    border: solid;
    border-radius: 15px;
    margin-left: 10px;
    background-color: rgb(176, 204, 204);
    width: 25%;
    font-size: 18px;
    font-weight: bold;
    
}
.recipe{
    font-size: 18px;
    padding: 20px;
    line-height: 24px;
    background-color: antiquewhite;
    border-radius: 10px;
    border-left: 5px solid #272044;
    box-shadow: 0px 4px 30px 0px rgb(65, 50, 100);
    
}
.hidden{
    display: none;
}
footer{
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
}
.generating {
    animation: blink-animation 1s steps(5, start) infinite;

}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
